# ===============================

# Python

# ===============================

**pycache**/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# ===============================

# Jupyter Notebook

# ===============================

.ipynb_checkpoints/

# ===============================

# VS Code

# ===============================

.vscode/

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# Logs & Temp files

# ===============================

*.log
*.tmp

# ===============================

# Environment Variables

# ===============================

.env
.env.local

# ===============================

# Model artifacts (optional)

# Comment these OUT if you want to push model.pkl

# ===============================

# *.pkl

# ===============================

# Cache

# ===============================

.cache/
pytest_cache/
